@import 'tailwindcss';

/* Color Variables */
:root {
    --color-bg: #edece8;
    --color-text: #222222;
    --color-text-light: #4c4c4c;
    --color-primary: #ff5e2d;
    --color-off: #e1d9d6;
    --color-on: #43424a;
    --color-most-white: #fefefe;
}

/* Main Color */
.main-color {
    color: var(--color-primary);
}

/* Background Color */
.bg-bgcolor {
    background-color: var(--color-bg);
}

/* Text Color */
.text-main-color {
    color: var(--color-text);
}

/* Sub Text Color */
.text-sub-color {
    color: var(--color-text-light);
}

/* Off Color */
.off-color {
    color: var(--color-off);
}

/* On Color */
.on-color {
    color: var(--color-on);
    background-color: var(--color-on);
}

/* Most White Color */
.most-white {
    color: var(--color-most-white);
}

/* Drop Shadow */
.drop-shadow-light {
    filter: drop-shadow(0 0 15px rgba(34, 34, 34, 0.25));
}

/* Play Button */
.drop-shadow-playBtn {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.5));
}

/* Global Styles */
html,
body {
    overflow-x: hidden;
}
